
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
    var sonuc = DateTime.Now.Year - Convert.ToInt32(ViewBag.OldestBuildingYear);

    if(sonuc <= 0)
    {
        sonuc = "İnşaa Yılı 0'dan Küçük Olamaz";
    }
    else{}

    var sonuc1 = DateTime.Now.Year - Convert.ToInt32(ViewBag.NewestBuildingYear);

    if (sonuc1 <= 0)
    {
        sonuc1 = "İnşaa Yılı 0'dan Küçük Olamaz";
    }
    else { }
}

<style>
    h6
    {
        text-align:right;
        justify-content:right;
    }
</style>
<!-- İstatistikler -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-check fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Aktif Kategori:</p>
                    <h6 class="mb-0">@ViewBag.ActiveCategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-times fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Pasif Kategori:</p>
                    <h6 class="mb-0">@ViewBag.PassiveCategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-user-plus fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Aktif Personel:</p>
                    <h6 class="mb-0">@ViewBag.ActiveEmployeeCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-building fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ürün Sayısı:</p>
                    <h6 class="mb-0">@ViewBag.ProductCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-hotel fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Toplam Daire:</p>
                    <h6 class="mb-0">@ViewBag.ApartmentCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-bars fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Toplam Kategori:</p>
                    <h6 class="mb-0">@ViewBag.CategoryCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-home fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">İlanların Bulunduğu Şehirler:</p>
                    <h6 class="mb-0">@ViewBag.DifferentCityCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-balance-scale fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ortalama Oda:</p>
                    <h6 class="mb-0">@ViewBag.AverageRoomCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-info fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Kiralıkların Ortalama Fiyatı:</p>
                    <h6 class="mb-0">@(ViewBag.AverageProductPriceByRent.Substring(0, ViewBag.AverageProductPriceByRent.IndexOf('.')+3)) ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-info fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Satılıkların Ortalama Fiyatı:</p>
                    <h6 class="mb-0">@(ViewBag.AverageProductPriceBySale.Substring(0, ViewBag.AverageProductPriceBySale.IndexOf('.') + 3)) ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-university fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Son Ürünün Fiyatı: </p>
                    <h6 class="mb-0">@(ViewBag.LastProductPrice.Substring(0, ViewBag.LastProductPrice.IndexOf('.') + 3)) ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-hourglass-half fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Eski İlanın İnşaa Yılı (Yaşı):</p>
                    <h6 class="mb-0">@ViewBag.OldestBuildingYear (@sonuc)</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Fazla İlanın Olduğu Kategori:</p>
                    <h6 class="mb-0">@ViewBag.CategoryNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-trophy fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Fazla İlanın Bulunduğu Şehir:</p>
                    <h6 class="mb-0">@ViewBag.CityNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-user fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Fazla İlandan Sorumlu Personel:</p>
                    <h6 class="mb-0">@ViewBag.EmployeeNameByMaxProductCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-hourglass-start fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Yeni İlanın İnşaa Yılı (Yaşı):</p>
                    <h6 class="mb-0">@ViewBag.NewestBuildingYear (@sonuc1)</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- İstatistikler -->
<!-- Son Satışlar -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Salse</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">Date</th>
                        <th scope="col">Invoice</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>01 Jan 2045</td>
                        <td>INV-0123</td>
                        <td>Jhon Doe</td>
                        <td>$123</td>
                        <td>Paid</td>
                        <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                    </tr>
                    <tr>
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>01 Jan 2045</td>
                        <td>INV-0123</td>
                        <td>Jhon Doe</td>
                        <td>$123</td>
                        <td>Paid</td>
                        <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                    </tr>
                    <tr>
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>01 Jan 2045</td>
                        <td>INV-0123</td>
                        <td>Jhon Doe</td>
                        <td>$123</td>
                        <td>Paid</td>
                        <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                    </tr>
                    <tr>
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>01 Jan 2045</td>
                        <td>INV-0123</td>
                        <td>Jhon Doe</td>
                        <td>$123</td>
                        <td>Paid</td>
                        <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                    </tr>
                    <tr>
                        <td><input class="form-check-input" type="checkbox"></td>
                        <td>01 Jan 2045</td>
                        <td>INV-0123</td>
                        <td>Jhon Doe</td>
                        <td>$123</td>
                        <td>Paid</td>
                        <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Son Satışlar -->
